/* Write your CSS here */
.outer-container {
  background-color: #ffc2a0;
  padding: 50px;
  height: 100vh;
}

.inner-container {
  background-color: #ffffff;
  border: 0px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #ff8542;
  font-family: 'Roboto';
  font-size: 40px;
}

.add-btn {
  background-color: yellowgreen;
  color: crimson;
  font-size: 20px;
  border: 0px;
  border-radius: 12px;
  height: 50px;
  width: 120px;
  margin: 12px;
}

.input-text {
  height: 50px;
  width: 300px;
  color: green;
  font-size: 20px;
  margin: 12px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
